<div id="edit_modal_<%= post._id %>" class="modal modal-fixed-footer"
    style="overflow-y: hidden;border-radius: 15px;">
    <button class="modal-close red btn btn-floating" style="position: absolute;top: 1%;right: 1%;">x</button>
    <form>
        <div class="modal-content" style="overflow-x: hidden;">
            <div id="post-id" style="display: none;" data-id="<%= post._id %>"></div>
            <div class="row center" style="padding-top: 0px;padding-bottom: 25px;">
                <kbd><%= new Date(post.created_at).toDateString() %></kbd>
            </div>
            <div class="row center input-field" style="padding-top: 0px;padding-bottom: 50px;margin:0px 10%;">
                <input id="post-title" type="text" class="validate" name="title" value="<%= post.title %>">
                <label class="active" for="post-title">Tiêu đề</label>
            </div>
            <div class="row center input-field" style="padding-top: 0px;padding-bottom: 25px;margin:0px 10%;">
                <textarea id="post-description" class="materialize-textarea" name="description"><%= post.description %></textarea>
                <label for="post-description">Ý tưởng</label>
            </div>
            <div class="row center" style="padding-top: 0px;padding-bottom: 5px;">
                <%  if(post.hashtag!=null){
                    hashtags = JSON.parse(post.hashtag);
                    for(tag of hashtags){ %>
                <div class="chip"><%- tag.tag %></div>
                <% }} %>
            </div>

        </div>
        <div class="modal-footer pink lighten-5">
            <div class="row center" style="margin: 0px;">
                <button class="modal-close waves-effect waves-pink btn" type="button" id="update_btn">CẬP NHẬT</button>
            </div>
        </div>
    </form>
</div>