<body id="<%= article._id %>">
  <link rel="stylesheet" href="/stylesheet/article.css"/>
  <%- include("../templates/dependency.ejs") %>
  <header>
    <%- include("../templates/navmenu",{user:user}) %>
  </header>
  <main>
    <a href="/search" id="backpage"><img src="https://img.icons8.com/clouds/75/000000/back.png"/></a>
    <div class="container">
      <div class="row first">
        <div class="col s12 m12 l5 content">
          <div class="title my-4">
            <%= article.title %>
          </div>
          <h2><%= article.sub_title%></h2>
          <%  contents = JSON.parse(article.content) 
              imgs = JSON.parse(article.images) %> 
          <p><%- contents[0] %></p>
        </div>
        <div class="col s12 m12 l7 image">
          <img src="<%= imgs[0] %>" alt="image">
        </div>
      </div>
      <div class="row more">
        
          <%var i=1;
          while(i<=contents.length || i<=imgs.length){
          if(i<contents.length){ %>
          <p class="flow-text"><%- contents[i] %></p>
          <% } if(i<imgs.length){ %>
          <div class="row center image">
            <img src="<%= imgs[i] %>"/>
          </div>
          <% } ++i} %>
        
      </div>
      <div class="hastag">
        <hr/>
        <div class="row">
          <div class="col s2"><kbd class="flow-text">Thẻ:</kbd></div>
          <% if(article.hashtag!=null){
            hashtags = JSON.parse(article.hashtag);
            for(tag of hashtags){ %>
            <a href="/search?search_key=<%= tag.tag %>"><div class="chip"><%- tag.tag %></div></a>
            <% } %>
          <% } %>
        </div>
        <hr/>
      </div>
      <div class="post_comment">
        <div class="row my-3">
          <div class="col s2 comment_title"><kbd class="flow-text">Bình luận:</kbd></div>
          <% if(user!=null){ %>
          <div class="col s10">
            <form class="form-inline my-3" id="comment-form" method="POST">
              <input class="form-control" id="new_comment_name" style="display: none;" value="<%= user.name %>"/>
              <input class="form-control" id="new_comment_id" style="display: none;" value="<%= user._id %>"/>
              <input class="form-control" type="text" placeholder="Comment" aria-label="Comment" id="new_comment_text"/>
              <button class="btn-flat waves-effect waves-light center-align" type="button" id="comment_btn">
                <i class="material-icons right md-28">send</i>
              </button>
            </form>
          </div>
          <% } else { %>
          <div class="col s10 login_required">
              <kbd class="flow-text">
                <a href="/users/login">Đăng nhập để bình luận</a>
              </kbd>
              <button style="display: none;" type="button" id="comment_btn"></button>
          </div>  
          <% } %>
        </div>
      </div>
      <div class="comments-list" id="comments-list">
        <div class="row my-3">
          <%  if(comment.length>0){
              comment.forEach(com => { %>
              <div class="row card white">
                <div class="card-content">
                    <div class="col s3 m3 l2">
                      <kbd class="flow-text"><%= com.author_name %>:</kbd>  
                    </div>
                    <div class="col s6 m6 l8">
                      <kbd class="flow-text"><%= com.content %></kbd>  
                    </div>
                    <div class="col s3 m3 l2">
                      <kbd class="flow-text" style="font-size: small;"><%= new Date(com.created_at).toDateString() %></kbd>
                    </div>
                </div>
              </div>  
          <% });} %>
        </div>
        <script id="comment-template" type="text/x-template"> 
          <div class="row card white">
            <div class="card-content">
                <div class="col s3 m3 l2">
                  <kbd class="flow-text name">{{name}}</kbd>  
                </div>
                <div class="col s6 m6 l8">
                  <kbd class="flow-text text">{{comment}}</kbd>  
                </div>
                <div class="col s3 m3 l2">
                  <kbd class="flow-text" style="font-size: small;"><%= new Date().toDateString() %></kbd>
                </div>
            </div>
          </div>
        </script>
      </div>
      <hr/>
      <div class="row">
        <kbd>Tác giả: <%= article.author_name %></kbd>  
      </div>
    </div>
    
  </main>
  <footer class="page-footer">
    <%- include("../templates/footer") %>
  </footer>
  <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <script src="/script/article.js"></script>

  
</body>
