<body>
  <header>
    <%- include("../templates/navmenu",{user:user}) %>
  </header>
  <main>
    <a  href="/search"><img src="https://img.icons8.com/clouds/75/000000/back.png" style="margin-left: 3%;position: fixed !important;margin-top:15%;"/></a>
    <div class="container">
      <div class="row"  style="margin-top: 25px;">
        <div class="col s5">
          <div class="title my-4" style="font-size: 70px; color: darkred; font-weight: bolder;text-align: center;">
            <%= article.title %>
          </div>
          <h2><%= article.sub_title%></h2>
          <%  contents = JSON.parse(article.content) 
              imgs = JSON.parse(article.images) %> 
          <p style="text-align: justify;"><%- contents[0] %></p>
        </div>
        <div class="col s7" style="margin-top: 3%;left: 7px;">
          <img src="<%= imgs[0] %>" alt="image" style="height:564px;width: 564px;">
        </div>
      </div>
      <div class="row" style="text-align:justify;">
        
          <%var i=1;
          while(i<=contents.length || i<=imgs.length){
          if(i<contents.length){ %>
          <p class="flow-text" style="font-size: medium;"><%- contents[i] %></p>
          <% } if(i<imgs.length){ %>
          <img src="<%= imgs[i] %>" style="max-width:100%; border-radius: 7px;" />
          <% } ++i} %>
        
      </div>
      <div class="hastag">
        <hr />
        <div class="row">
          <div class="col s2">Thẻ:</div>
          <% if(article.hashtag!=null){
            hashtags = JSON.parse(article.hashtag);
            for(tag of hashtags){ %>
            <div class="chip"><%- tag.tag %></div>
            <% } %>
          <% } %>
        </div>
        <hr />
      </div>
      <div class="post_comment">
        <div class="row my-3">
          <div class="col s2">Bình luận:</div>
          <div class="col s6">
            <% if(user!=null){ %>
            <form class="form-inline my-3" id="comment-form" method="POST">
              <input class="form-control" id="new_comment_name" style="display: none;" value="<%= user.name %>"/>
              <input class="form-control" id="new_comment_id" style="display: none;" value="<%= user._id %>"/>
              <input class="form-control" type="text" placeholder="Comment" aria-label="Comment" id="new_comment_text"/>
              <button class="btn-flat waves-effect waves-light center-align" type="button" id="comment">
                <i class="material-icons right md-28">send</i>
              </button>
            </form>
            <% } %>
          </div>
          <div class="col s2"></div>
        </div>
      </div>
      <div class="comments-list" id="comments-list">
        <script id="comment-template" type="text/x-template">
            <div class="comment-info">
                <div class="row">
                      <div class="name">{{name}}</div>
                      <div class="id">{{id}}</div>
                </div>
                <div class="row">
                      <div class="text">{{comment}}</div>
                </div>
            </div>
        </script>
    </div>
      <hr>
      <div class="row">
        <kbd>Tác giả: <%= article.author_name %></kbd>  
      </div>
    </div>
    
  </main>
  <footer class="page-footer">
    <%- include("../templates/footer") %>
  </footer>
  <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <script src="/script/article.js"></script>

  <%- include("../templates/dependency.ejs") %>
</body>
