<body id="page">
    <header>
        <%- include("../templates/navmenu.ejs",{user:user}) %>
    </header>
    <main>
        <div class="row">
            <div class="col s6 m6 l6 hide-on-med-and-down">
                <div class="card slide bg" style="border-radius: 6px;background: white;">
                    <ul class="cb-slideshow">
                        <li><span>Image 01</span>
                            <div>
                                <h3>Banh·can</h3>
                            </div>
                        </li>
                        <li><span>Image 02</span>
                            <div>
                                <h3>Banh·mi</h3>
                            </div>
                        </li>
                        <li><span>Image 03</span>
                            <div>
                                <h3>Banh·xeo</h3>
                            </div>
                        </li>
                        <li><span>Image 04</span>
                            <div>
                                <h3>Banh·trang·tron</h3>
                            </div>
                        </li>
                        <li><span>Image 05</span>
                            <div>
                                <h3>Cha·ca</h3>
                            </div>
                        </li>
                        <li><span>Image 06</span>
                            <div>
                                <h3>Bun·bo</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <a class="waves-effect waves-light btn btn-floating right teal pulse" style="top: 80px;position: absolute; right: 25px;"><i
                        class="material-icons" id="hint">menu</i></a>
                <div class="tap-target" data-target="hint">
                    <div class="tap-target-content">
                        <h5 class="flow-text">Vietnamese cuisine &amp; Culture</h5>
                        <p class="flow-text" style="font-size: medium;">Explore our country's beauty through everyday's
                            food culture<br>Search our
                            <a class="flow-text" style="font-size: medium;" href="/search">articles</a>
                            or watch
                            <a class="flow-text" style="font-size: medium;" href="/blog">travel post's</a>
                            to live in the marvelous of Vietnamese.&nbsp;
                            <% if(user==null){ %> 
                            <a class="flow-text" style="font-size: medium;" href="/users/login">Login now.</a>
                            <% } %>
                        </p>
                    </div>
                </div>
                <div class="card blog hoverable bg" style="border-radius: 6px;background: white;">
                    
                    <div class="carousel food" style="height: 90%;">
                        <% if(articles.length > 0){
                            articles.forEach(article=>{ %>
                        <a class="carousel-item" href="/article?_id=<%= article._id %>"><img
                                src="<%= JSON.parse(article.images)[0] %>" style="height: 200px;border: 1px solid black; border-radius: 7px;"></a>
                        <% });}else{ %>
                        <a class="carousel-item" style="height: 200px;"></a>
                        <% } %>
                    </div>
                </div>
                <div class="card info hoverable bg" style="border-radius: 6px;background: white;">
                    <h4 class="center" style="font-weight: bold;color: #6d0019;">New Post</h4>
                    <hr>
                    <div class="carousel carousel-slider post" style="margin-top: 5%;">
                        <%  if(posts.length>0){
                            posts.forEach((post)=>{ %>
                        <% if(user!=null){ %> 
                        <a href="/blog#<%= post._id %>?user=<%= user._id %>">
                        <% } else{ %>
                        <a href="/blog#<%= post._id %>">
                        <% } %> 
                            <div class="card horizontal carousel-item" style="min-height: 0px;height: 200px;">
                                <div class="card-image">
                                    <% if(post.image!=null){ %>
                                    <img src="<%= JSON.parse(post.image)[0] %>" style="height: 200px;max-height: 200px;">
                                    <% } else{ %>
                                    <img src="/views/image/bg/newpost_bg.jpg" style="height: 200px;max-height: 200px;">
                                    <% } %>
                                </div>
                                <div class="card-stacked" style="background-color: antiquewhite;">
                                    <div class="card-action">
                                        <kbd><%= post.author_name %></kbd>
                                        <hr>
                                    </div>
                                    <div class="card-content" style="padding-top: 0px;">
                                        <kbd><%= new Date(post.created_at).toDateString()%></kbd>
                                        <h6><%= post.title %></h6>
                                        <p class="flow-text truncate"><%- post.description.slice(0,50) %>&nbsp;...</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% });} else{ %>
                        <a class="carousel-item" style="min-height: 0px;height: 200px;"></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% if(user==null){ %>
        <div id="login_modal" class="modal" style="border-radius: 7px;overflow: hidden;width: 30%;">
            <div class="row modal-content center" style="padding-top: 5px;">
                
                <a class="flow-text truncate">Welcome to our house</a>
                
            </div>
            <div class="row center modal-content">
                <form action="/users/login" method="POST" id="login-form">
                    <div class="row form-group">
                        <input type="email" id="email" name="email" class="form-control login-form-field" 
                        placeholder=" Enter Email" data-position="right" data-tooltip="I am a tooltip"/>
                    </div>
                    <div class="row form-group">
                        <input type="password" id="password" name="password" class="form-control login-form-field"
                            placeholder=" Enter Password" />
                    </div>
                    <div class="row center">
                        <button type="submit" class="btn pulse" id="login-form-submit">Login</button>
                    </div>
                </form>
                <div class="row" id="signup" style="margin-bottom: 0px;">
                    <a class="signup_text flow-text truncate" href="register">
                        or&nbsp;sign&nbsp;up&nbsp;here
                    </a>
                </div>
            </div>
        </div>
        <% } %>
        <div class="row center">
            <div class="col s3"></div>
            <div class="card white col s6 hoverable" style="border-radius: 30px;">
                <div class="row card-content">
                    <div class="input-field white">
                        <form action="/search" method="GET">
                            <input type="text" id="autocomplete-input" class="autocomplete form-control" value="" name="search_key" 
                                placeholder="Search for articles or posts" style="width: 80%;">
                            <label for="autocomplete-input" class="pink-text">Search</label>
                            <button class="btn-flat" type="submit">
                                <img src="https://img.icons8.com/color/40/000000/search--v1.png" class="prefix" style="right: 1%;"/>
                            </button>
                        </form>    
                    </div>
              </div>
            </div>    
        </div>
        <div class="row">
            <div class="col s6 m6 l3">
                <div class="card white hoverable" style="border-radius: 7px;">
                    <div class="card-image">
                        <img src="/views/image/bg/green_bg.jpg" class="smallbg"/>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card white hoverable" style="border-radius: 7px;">
                    <div class="card-image">
                        <img src="/views/image/bg/vn_bg.jpg" class="smallbg"/>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card white hoverable" style="border-radius: 7px;">
                    <div class="card-image">
                        <img src="/views/image/bg/popdanang.jpg" class="smallbg"/>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card white hoverable" style="border-radius: 7px;">
                    <div class="card-image">
                        <img src="/views/image/bg/tet_bg.jpg" class="smallbg"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="card white hoverable" style="border-radius: 7px;height: 275px;">
                    <div class="row card-content center">
                        <div class="col s8 card-image">
                            <img src="/views/image/bg/tiengiang_bg.jpg" style="border-radius: 7px;"/>
                        </div>
                        <div class="col s4"><p class="flow-text">XUAN</p></div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card white hoverable" style="border-radius: 7px; height: 275px;">
                    <div class="row card-content center">
                        <div class="col s4"><p class="flow-text">HA</p></div>
                        <div class="col s8 card-image">
                            <img src="/views/image/bg/he_bg.jpg" style="border-radius: 7px;"/>
                        </div> 
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="card white hoverable" style="border-radius: 7px;height: 275px;">
                    <div class="row card-content center">
                        <div class="col s8 card-image">
                            <img src="/views/image/bg/thu_bg.jpg" style="border-radius: 7px;"/>
                        </div>
                        <div class="col s4"><p class="flow-text">THU</p></div>
                    </div>
                    
                </div>
            </div>
            <div class="col s6">
                <div class="card white hoverable" style="border-radius: 7px;height: 275px;">
                    <div class="row card-content center">
                        <div class="col s4"><p class="flow-text">DONG</p></div>
                        <div class="col s8 card-image">
                            <img src="/views/image/bg/dong_bg.jpg" style="border-radius: 7px;"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <%- include("../templates/footer.ejs",{user:user}) %>
    </footer>
    <link rel="stylesheet" href="/stylesheet/home.css" />
    <link rel="stylesheet" href="/stylesheet/style2.css" />

    <!-- <link rel="stylesheet" href="/stylesheet/footer.css"> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet'/> -->
    <script src="/script/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script/home.js"></script>
    <%- include("../templates/dependency.ejs")%>
</body>