
<body>
    <link rel="stylesheet" href="/stylesheet/map_summer.css"/>
    <%- include("../templates/dependency.ejs") %> 
    <header>
        <%- include("../templates/navmenu.ejs",{user:user}) %> 
    </header>
    <main>
        <div class="row title_1 hide-on-small-only">
            <kbd class="flow-text truncate" style="font-size: x-large;">Mùa Lễ Hội</kbd>
            <hr style="width: 20%;">
        </div>
        <div class="row spring_title_mobile hide-on-med-and-up">
            <kbd class="flow-text truncate" style="font-size: x-large;">Mùa Lễ Hội</kbd>
            <hr style="width: 30%;">
        </div>
        <div class="row center">
            <div class="col s1"></div>
            <div class="col s10">
                <div class="card slide bg" style="border-radius: 6px;background: white;">
                    <ul class="cb-slideshow">
                        <li><span>Image 01</span>
                            <div>
                                <h3>HÀ NỘI</h3>
                            </div>
                        </li>
                        <li><span>Image 02</span>
                            <div>
                                <h3>SAPA</h3>
                            </div>
                        </li>
                        <li><span>Image 03</span>
                            <div>
                                <h3>HUẾ</h3>
                            </div>
                        </li>
                        <li><span>Image 04</span>
                            <div>
                                <h3>ĐÀ NẴNG</h3>
                            </div>
                        </li>
                        <li><span>Image 05</span>
                            <div>
                                <h3>HỘI AN</h3>
                            </div>
                        </li>
                        <li><span>Image 06</span>
                            <div>
                                <h3>ĐÀ LẠT</h3>
                            </div>
                        </li>
                        <li><span>Image 07</span>
                            <div>
                                <h3>HỒ CHÍ MINH</h3>
                            </div>
                        </li>
                        <li><span>Image 08</span>
                            <div>
                                <h3>MÊ KÔNG</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <hr class="style-four">
                <p style="text-align: center; font-size: xx-large; color: #e66e13;"><kbd>ẨM THỰC MÙA NHIỆT ĐỚI</kbd></p>
                <br>
            </div>
        </div>
        <% articles.forEach(article => { 
            imgs=JSON.parse(article.images)
            cnt = JSON.parse(article.content) %>
        <div class="section">
            <div class="row content">
                <div class="col s12 m12 l4">
                    <div class="card-image">
                        <img src="<%= imgs[0]%>" alt="img"/>
                    </div>
                </div>
                <div class="col s12 m12 l8">
                    <div class="row center" style="color: #6d0019">
                        <kbd class="flow-text" style="font-size:xx-large;"><kbd><%= article.title %></kbd>
                        <hr class="style-seven">
                    </div>
                    <p class="flow-text" style="font-size: x-large;text-align: justify;"><%= article.sub_title %></p>
                    <p class="flow-text" style="font-size: medium;text-align: justify;"><%- cnt[0] %></p>
                    <a href="/article?_id=<%= article._id %>" class="show_content"><kbd>Xem tiếp</kbd></a></span>
                </div>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="<%= imgs[1] %>"/></div>
        </div>
        <% }); %>
    </main>
    <footer class="page-footer" style="padding: 0px;">
        <%- include("../templates/footer.ejs",{user:user}) %>
    </footer>
    
    
    

    <script src="/script/map.js"></script>
    

</body>

