<body>
    <div class="header" style="visibility: visible;opacity: 1;">
        <a class="logo" href="/" style="visibility: visible;opacity: 1;">
            <img src="https://img.icons8.com/doodle/75/000000/lighthouse--v1.png"/>
        </a>
    </div>
    <main id="main-holder">
        <div class="row">
            <div class="col s12 card white" style="border-radius: 7px;">
                <div class="row center card-content" style="padding-bottom: 0px;margin-bottom: 0px;">
                    <kbd id="login-header" class="flow-text truncate"><span>&hearts;</span>&nbsp;Welcome to our
                        house&nbsp;<span>&hearts;</span></kbd>
                </div>
                
                <% if(errors!=null){
                    errors.forEach(err => { %>
                    <div class="row error center card-content"></div>
                        <kbd style="background-color: coral;font-size: medium;"><%= err.msg %></kbd><br>
                    </div>
                <% });} %>
                <div class="row form card-content">
                    <form action="/users/register" method="POST">
                        <div class="row form-group">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name"
                                value="<%= typeof name != 'undefined' ? name : '' %>" />
                        </div>
                        <div class="row form-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>" />
                        </div>
                        <div class="row form-group">
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Create Password"
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                        </div>
                        <div class="row form-group">
                            <input type="password" id="password2" name="password2" class="form-control"
                                placeholder="Confirm Password"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                        </div>
                        <div class="row center">
                            <button type="submit" class="btn send-button center pulse">
                                <kbd class="truncate flow-text" style="font-size: medium;">Hey Homies</kbd> 
                            </button>
                        </div>  
                        <div class="row center">
                            <a class="login_text flow-text truncate" href="login" style="font-size: medium;color: palevioletred;">
                                Have an account?&nbsp;Sign&nbsp;in&nbsp;here
                            </a>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
    </main>
    <link rel="stylesheet" href="/stylesheet/signup-page.css">
    <%- include("../templates/dependency.ejs") %>
</body>