<body>
    <div class="header" style="visibility: visible;opacity: 1;">
        <a class="logo" href="/" style="visibility: visible;opacity: 1;">
            <img src="https://img.icons8.com/doodle/75/000000/lighthouse--v1.png"/>
        </a>
    </div>
    <main id="main-holder">
        <div class="row">
            <div class="col s12 card white" style="border-radius: 7px;">
                <div class="row center card-content" style="padding-bottom: 0px;margin-bottom: 0px;">
                    <kbd id="login-header" class="flow-text truncate"><span>&hearts;</span>&nbsp;Xin chào · Hello · Bonjour
                        &nbsp;<span>&hearts;</span></kbd>
                </div>
                
                <% if(errors!=null){
                    errors.forEach(err => { %>
                    <div class="row error center card-content" style="padding-top: 0px;padding-bottom: 0px;">
                        <kbd style="background-color: coral;font-size: medium;"><%= err.msg %></kbd><br>
                    </div>
                <% });} %>
                <div class="row form card-content">
                    <form action="/users/register" method="POST">
                        <div class="row form-group">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Nhập tên"
                                value="<%= typeof name != 'undefined' ? name : '' %>" />
                        </div>
                        <div class="row form-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Nhập Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>" />
                        </div>
                        <div class="row form-group">
                            <input type="password" id="password" name="password" class="form-control tooltipped"
                                placeholder="Mật khẩu"
                                value="<%= typeof password != 'undefined' ? password : '' %>"  
                                data-position="right" data-tooltip="Mật khẩu ít nhất 6 kí tự"/>
                        </div>
                        <div class="row form-group">
                            <input type="password" id="password2" name="password2" class="form-control"
                                placeholder="Xác nhận mật khẩu"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                        </div>
                        <div class="row center">
                            <button type="submit" class="btn send-button center pulse">
                                <kbd class="truncate flow-text" style="font-size: medium;">BẮT ĐẦU NÀO</kbd> 
                            </button>
                        </div>  
                        <div class="row center">
                            <a class="login_text flow-text truncate" href="login" style="font-size: medium;color: palevioletred;">
                                Người quen?&nbsp;Đăng&nbsp;nhập&nbsp;nào
                            </a>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
    </main>
    <link rel="stylesheet" href="/stylesheet/signup-page.css">
    <script src="/script/login-page.js"></script>
    <%- include("../templates/dependency.ejs") %>
</body>