<body id="page">
    <link rel="stylesheet" href="/stylesheet/searchhome.css" />
    <%- include("../templates/dependency.ejs") %>
    <header><%- include("../templates/navmenu.ejs",{user:user}) %></header>
    <main>
        <div class="row title center">
            <h3><span class="flow-text">KẾT QUẢ TÌM KIẾM "<%= key %>"</span></h3>
        </div>
        <div class="row center searchpane">
            <div class="col s2"></div>
            <div class="col s12 m12 l8">
                <div class="card white">
                    <div class="row card-content">
                        <div class="input-field white">
                            <form action="/search" method="GET">
                                <input type="text" id="searchpane" class="autocomplete form-control" value="" name="search_key" 
                                    placeholder="Tìm bài viết hoặc bài báo yêu thích">
                                <label for="searchpane" class="pink-text hide-on-med-and-down">Tìm kiếm</label>
                                <button class="btn-flat" type="submit">
                                    <img src="https://img.icons8.com/color/40/000000/search--v1.png" class="prefix"/>
                                </button>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row result">
            <div class="col s1"></div>
            <div class="col s10 center result_content">
                <ul class="tabs hide-on-med-and-down">
                    <li class="tab col s3"><a class="active" href="#search_article">Bài báo</a></li>
                    <li class="tab col s3">
                        <a href="#search_post">Bài viết</a>
                    </li>
                </ul>
                <div id="search_article" class="col s12 hide-on-med-and-down">
                    <% if(articles.length==0){ %>
                    <kbd class="flow-text truncate not">Hmm... không thấy gì nhỉ</kbd>
                    <% } else{ %>
                    <ul class="lb-album">
                        <% var i = 1; %> <% articles.forEach(article=>{ %>
                        <li>
                            <a href="#image-<%= i %> ">
                                <img src="<%= JSON.parse(article.images)[0] %>" alt="image0<%= i %>" id="ficon" />
                                <span class="flow-text truncate"><%= article.title %></span>
                            </a>
                            <div class="lb-overlay" id="image-<%= i %>">
                                <img src="<%= JSON.parse(article.images)[0] %>" alt="image0<%= i %>" id="bigficon" />
                                <div>
                                    <h3>
                                        <%= article.title %>
                                        <span>
                                            <a href="/article?_id=<%= article._id %>" class="show_content"><kbd>Tìm
                                                    hiểu thêm</kbd></a></span>
                                    </h3>
                                    <p><%- article.sub_title %></p>
                                    <a href="#image-<% if(i-1<=0){ %><%= articles.length %><% } else{ %><%= i-1 %><% } %> "
                                        class="lb-prev">Prev</a>
                                    <a href="#image-<% if(i+1>articles.length){ %>1<% } else{ %><%= i+1 %><% } %>"
                                        class="lb-next">Next</a>
                                </div>
                                <a href="#page" class="lb-close">x Đóng</a>
                            </div>
                        </li>
                        <% if(i+1>articles.length){i=1} else{i++;}}); %>
                    </ul>
                    <% } %>
                </div>
                <div id="search_post" class="col s12 hide-on-med-and-down">
                    <% if(posts.length==0){ %>
                        <kbd class="flow-text truncate not">Hmm... không thấy gì nhỉ</kbd>
                    <% } else{ %>
                    <ul class="lb-album">
                        <% var i = 1; %> <% posts.forEach(post=>{ %>
                        <li>
                            <a href="#image/<%= i %> ">
                                <img src="<%= JSON.parse(post.image)[0] %>" alt="image0<%= i %>" id="ficon" />
                                <span class="flow-text truncate"><%= post.title %></span>
                            </a>
                            <div class="lb-overlay" id="image/<%= i %>">
                                <img src="<%= JSON.parse(post.image)[0] %>" alt="image0<%= i %>" id="bigficon" />
                                <div>
                                    <h3>
                                        <%= post.title %>
                                        <span>
                                            <a href="/blog#<%= post._id %>" class="show_content"><kbd>Tìm hiểu
                                                    thêm</kbd></a></span>
                                    </h3>
                                    <p><%- post.description.slice(0,50) %> ...</p>
                                    <a href="#image-<% if(i-1<=0){ %><%= posts.length %><% } else{ %><%= i-1 %><% } %> "
                                        class="lb-prev">Prev</a>
                                    <a href="#image-<% if(i+1>posts.length){ %>1<% } else{ %><%= i+1 %><% } %>"
                                        class="lb-next">Next</a>
                                </div>
                                <a href="#page" class="lb-close">x Đóng</a>
                            </div>
                        </li>
                        <% if(i+1>posts.length){i=1} else{i++;}}); %>
                    </ul>
                    <% } %>
                </div>
                <ul class="tabs hide-on-large-only">
                    <li class="tab col s3"><a class="active" href="#search_article_mobile">Bài báo</a></li>
                    <li class="tab col s3">
                        <a href="#search_post_mobile">Bài viết</a>
                    </li>
                </ul>
                <div id="search_article_mobile" class="hide-on-large-only">
                    <% if(articles.length==0){ %>
                        <kbd class="flow-text truncate not">Hmm... không thấy gì nhỉ</kbd>
                    <% } else{ %>
                    <ul class="collection">
                        <% articles.forEach(article=>{ 
                            thumb = JSON.parse(article.images)[0] %>
                            <a href="/article?_id=<%= article._id %>" style="color: rgb(165, 77, 42);">
                                <li class="collection-item avatar">
                                    <img src="<%= thumb %>" alt="image" class="circle"/>
                                    <span class="title"><%= article.title %></span>
                                    <p class="flow-text truncate" style="font-size: medium;"><%= article.sub_title %></p>
                                </li>
                            </a>
                        <% }) %>  
                    </ul>
                    <% } %> 
                </div>
                <div id="search_post_mobile" class="hide-on-large-only">
                    <% if(posts.length==0){ %>
                        <kbd class="flow-text truncate not">Hmm... không thấy gì nhỉ</kbd>
                    <% } else{ %>
                    <ul class="collection">
                        <% posts.forEach(post=>{ 
                            thumb = JSON.parse(post.image)[0] %>
                            <a href="/blog#<%= post._id %>" style="color: rgb(165, 77, 42);">
                                <li class="collection-item avatar">
                                    <img src="<%= thumb %>" alt="image" class="circle"/>
                                    <span class="title"><%= post.title %></span>
                                    <p class="flow-text truncate" style="font-size: medium;"><%- post.description.substring(0,50) %></p>
                                </li>
                            </a>    
                        <% }) %>  
                    </ul>
                    <% } %> 
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer"><%- include("../templates/footer.ejs") %></footer>
    
    <script src="/script/searchhome.js"></script>
</body>