<body>
    <link rel="stylesheet" href="/stylesheet/user_info.css">
    <%- include("../templates/dependency.ejs") %> 
    <header>
        <%- include("../templates/navmenu.ejs",{user:user}) %> 
    </header>
    <main>
        <% userp = (people==null)?user:people %>
        <div class="row">
            <div class="col s12 m12 l4">
                <div class="card white hoverable main-info">
                    <div class="row card-content center avatar">
                        <% if(userp.avatar!=null){%>
                        <img src="<%= userp.avatar %>" class="responsive-img circle avatar">
                        <% } else{ %>
                        <img src="/views/image/icon/o3.jpg" class="responsive-img circle avatar">
                        <% } %> 
                    </div>
                    <% if(people==null){ %> 
                    <div class="row card-content center">
                        <a href="#avatar_modal" class="modal-trigger tooltipped" data-position="bottom" data-tooltip="Thay Avatar">
                            <img src="https://img.icons8.com/doodle/48/000000/camera.png"/>
                        </a>
                    </div>
                    <% } %> 
                    <div class="row center card-content">
                        <kbd class="flow-text truncate med"><%= userp.name %></kbd>
                    </div>
                    <div class="row center card-content bio">
                        <kbd class="flow-text truncate">Bio</kbd>
                        <kbd class="flow-text truncate med"><%= userp.bio%></kbd>
                    </div>  
                    <%- include("../templates/avatar.ejs")  %>  
                </div>
                <div class="card white hoverable function">
                    <div class="row card-content function_container">
                        <div class="col s2 m4 l3"></div>
                        <div class="col s8 m4 l6">
                            <% if(people==null){ %>
                                <div class="row card-content center info-change">
                                    <a class="btn waves-effect waves-light pink lighten-4 modal-trigger" href="#edit_info_modal">
                                        <kbd class="flow-text truncate">Thay đổi thông tin</kbd>
                                    </a>
                                </div>
                                <%- include("../templates/infoedit.ejs",{user: user}) %>  
                            <% if(user.role=="ADMIN"){ %> 
                                <div class="row card-content center add-admin">
                                    <a class="btn waves-effect waves-light pink lighten-4 modal-trigger" href="#admin_modal">
                                        <kbd class="flow-text truncate">Thêm ADMIN</kbd>
                                    </a>
                                </div>
                                <div class="row card-content center admin">
                                    <a class="btn waves-effect waves-light pink lighten-4 modal-trigger" href="#admin_modal">
                                        <kbd class="flow-text truncate">ADMIN</kbd>
                                    </a>
                                </div>
                            <%- include("../templates/admin.ejs",{users:users}) %> 
                            <% }} %>
                        </div> 
                    </div>
                    
                </div>
            </div>
            <div class="col s12 m12 l8">
                <div class="card white hoverable post-info">
                    <% if(posts.length>0 && people==null){ %> 
                    <a class="btn btn-floating btn-large pulse waves-effect waves-light pink lighten-3 add" href="/home/post">
                        <i class="material-icons">add</i>
                    </a>
                    <% } %>
                    <div class="row card-content center">
                        <kbd class="flow-text truncate large">Bài viết của tôi</kbd>
                    </div>
                    <div class="row"> 
                    <% if(posts.length==0){ %> 
                        <div class="row card-content valign-center center" style="min-height: 323px;">
                            <kbd class="flow-text truncate large">Chưa có bài viết nào.</kbd>
                            <a class="btn pulse waves-effect waves-light pink lighten-3" href="/home/post">ĐĂNG NGAY</a>
                        </div>
                    <% } else{ %>
                    <% posts.slice().reverse().forEach((post, index)=>{ %>
                        <div class="post card-content" id="<%= post._id %>">
                            <div class="card postcard hoverable">
                                <% if(people==null){ %> 
                                <div class="fixed-action-btn right card-content">
                                    <a class="btn-floating btn-medium red">
                                      <i class="material-icons">mode_edit</i>
                                    </a>
                                    <ul>
                                      <li><a class="btn-floating green btn-small" type="button" data-id="<%= post._id %>" onclick="deletepost(this.dataset.id)"><i class="material-icons">delete</i></a></li>
                                      <li><a class="btn-floating blue btn-small modal-trigger" href="#edit_modal_<%= post._id %>"><i class="material-icons">edit</i></a></li>
                                    </ul>
                                </div>
                                <% } %> 
                                <% if(post.image!=null){ %>
                                <div class="row card-content post-image">
                                    <div class="carousel carousel-slider">
                                        <% JSON.parse(post.image).forEach(img=>{ %> 
                                        <a class="carousel-item" href="/blog#<%= post._id %>"><img src="<%= img %>"></a>
                                        <% }) %> 
                                    </div>
                                </div>
                                <% } %>
                                <div class="row card-content post-content">
                                    <kbd><%= new Date(post.created_at).toDateString()%></kbd>
                                </div>
                                <div class="row card-content post-content">
                                    <strong><%= post.title %></strong>
                                </div>
                                <div class="row card-content post-content">
                                    <p class="flow-text truncate">
                                        <%- post.description %>
                                    </p>
                                </div>
                                <div class="row card-content post-tag">
                                    <% if(post.hashtag!=null){
                                        hashtags = JSON.parse(post.hashtag);
                                        for(tag of hashtags){ %>
                                        <div class="chip"><%- tag.tag %></div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <%- include("../templates/editpost.ejs",{post:post}) %> 
                            </div>
                        </div>
                    <% });} %> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card white hoverable myfav" id="favorite">
                    <div class="row card-content center" style="padding-top: 10px;">
                        <kbd class="flow-text truncate">Danh sách yêu thích</kbd>
                    </div>
                    <div class="row">
                        
                        <% if(favorite_posts.length >0){ 
                            favorite_posts.forEach(post=>{ %>
                        <div class="post card-content" id="<%= post._id %>">
                            <div class="card postcard hoverable"> 
                                <div class="row card-content" style="padding-top: 15px;">
                                    <div class="chip poster pink lighten-3 white-text">
                                        <img src="https://img.icons8.com/fluent/24/000000/user-male-circle.png" />
                                        <a href="info?id=<%= post.author_id %>" class="white-text">
                                            <%= post.author_name %>
                                        </a>
                                    </div>
                                </div>
                                <% if(post.image!=null){ %>
                                <div class="row card-content">
                                    <div class="carousel carousel-slider">
                                        <% JSON.parse(post.image).forEach(img=>{ %> 
                                        <a class="carousel-item" href="/blog#<%= post._id %>"><img src="<%= img %>"></a>
                                        <% }) %> 
                                    </div>
                                </div>
                                <% } %>

                                <div class="row card-content">
                                    <kbd><%= new Date(post.created_at).toDateString() %></kbd>
                                </div>
                                <div class="row card-content">
                                    <strong><%= post.title %></strong>
                                </div>
                                <div class="row card-content">
                                    <p class="flow-text">
                                        <%- post.description.substring(0,200) %>...
                                    </p>
                                </div>
                                <div class="row card-content" style="padding-bottom: 5px;">
                                    <% if(post.hashtag!=null){
                                        hashtags = JSON.parse(post.hashtag);
                                        for(tag of hashtags){ %>
                                        <div class="chip"><%- tag.tag %></div>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% })} else{ %>
                        <% } %>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <% if(user.role=="ADMIN"&& people==null){ %>
        <div class="row">
            <div class="col s12">
                <div class="card hoverable white article-info">
                    <% if(articles.length>0){ %> 
                    <a class="btn btn-floating btn-large pulse waves-effect waves-light pink lighten-3 add" href="/home/new_article">
                        <i class="material-icons">add</i>
                    </a>
                    <% } %>
                    <div class="row card-content center">
                        <kbd class="flow-text truncate">Bài báo của tôi</kbd>    
        
                    </div>    
                    <div class="row center"> 
                    <% if(articles.length==0){ %> 
                        <div class="row card-content valign-center center" style="min-height: 323px;">
                            <kbd class="flow-text truncate large">Chưa có bài báo nào.</kbd>
                            <a class="btn pulse waves-effect waves-light pink lighten-3" href="/home/new_article">SOẠN NGAY</a>
                        </div>
                    <% } else{ %>
                    <% articles.forEach((article, index)=>{ %>
                        <div class="article card-content" id="<%= article._id %>">
                            <div class="card articlecard hoverable">
                                <div class="fixed-action-btn right card-content">
                                    <a class="btn-floating btn-medium red">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <ul>
                                        <li><a class="btn-floating green btn-small" type="button" data-id="<%= article._id %>" onclick="deletearticle(this.dataset.id)"><i class="material-icons">delete</i></a></li>
                                        <li><a class="btn-floating blue btn-small" href="/home/update_article?id=<%= article._id %>"><i class="material-icons">edit</i></a></li>
                                    </ul>
                                </div>
                                <% if(article.images!=null){ 
                                    thumb = JSON.parse(article.images)[0] %>
                                <div class="row card-content article-img">
                                    <a href="/article?_id=<%= article._id %>">
                                        <img src="<%= thumb %>">
                                    </a>
                                </div>
                                <% } %>
                                <div class="row card-content article-content">
                                    <kbd><%= new Date(article.created_at).toDateString()%></kbd>
                                </div>
                                <div class="row card-content article-content">
                                    <strong><%= article.title %></strong>
                                </div>
                                <div class="row card-content article-content">
                                    <p class="flow-text truncate">
                                        <%= article.sub_title %>
                                    </p>
                                </div>
                                <div class="row card-content article-tag">
                                    <% if(article.hashtag!=null){
                                        hashtags = JSON.parse(article.hashtag);
                                        for(tag of hashtags){ %>
                                        <div class="chip"><%- tag.tag %></div>
                                        <% } %>
                                    <% } %>
                                </div>
                                
                            </div>
                        </div>
                    <% });} %> 
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </main>
    <footer class="page-footer">
        <%- include("../templates/footer.ejs",{user:user}) %> 
    </footer>

    <script src="/script/user_info.js"></script>
    
</body>
