<body>
    <link rel="stylesheet" href="/stylesheet/user_info.css">
    <header>
        <%- include("../templates/navmenu.ejs",{user:user}) %> 
    </header>
    <main>
        <% userp = (people==null)?user:people %>
        <div class="row">
            <div class="col s4">
                <div class="card white hoverable main-info">
                    <div class="row card-content center" style="padding-bottom: 0px;">
                        <% if(userp.avatar!=null){%>
                        <img src="<%= userp.avatar %>" class="responsive-img circle" style="border: 2px solid black; height: 300px;width: 300px;">
                        <% } else{ %>
                        <img src="/views/image/icon/o3.jpg" class="responsive-img circle" style="border: 2px solid black; height: 300px;width: 300px;">
                        <% } %> 
                    </div>
                    <% if(people==null){ %> 
                    <div class="row card-content center" style="padding-top: 0px;padding-bottom: 0px;">
                        <a href="#avatar_modal" class="modal-trigger tooltipped" data-position="bottom" data-tooltip="Thay Avatar">
                            <img src="https://img.icons8.com/doodle/48/000000/camera.png"/>
                        </a>
                    </div>
                    <% } %> 
                    <div class="row center card-content">
                            <kbd class="flow-text truncate" style="font-size: medium;"><%= userp.name %></kbd>
                    </div>
                    <div class="row center card-content" style="padding-top: 0px;">
                        <kbd class="flow-text truncate">Bio</kbd>
                        <kbd class="flow-text truncate" style="font-size: medium;"><%= userp.bio%></kbd>
                    </div>  
                    <%- include("../templates/avatar.ejs")  %>  
                </div>
                <div class="card white hoverable function">
                    <% if(people==null){ %>
                        <div class="row card-content center" style="margin-bottom: 0px;">
                            <a class="btn waves-effect waves-light pink lighten-4 modal-trigger" href="#edit_info_modal" style="width: 45%;">
                                <kbd class="flow-text truncate" style="font-size: medium;">Thay đổi thông tin</kbd>
                            </a>
                        </div>
                        <%- include("../templates/infoedit.ejs",{user: user}) %>  
                    <% if(user.role=="ADMIN"){ %> 
                        <div class="row card-content center" style="padding-bottom: 0px; padding-top: 0px;">
                            <a class="btn waves-effect waves-light pink lighten-4 modal-trigger" href="#admin_modal" style="width: 45%;">
                                <kbd class="flow-text truncate" style="font-size: medium;">Thêm ADMIN</kbd>
                            </a>
                        </div>
                        <div class="row card-content center" style="padding-top: 0px;">
                            <a class="btn waves-effect waves-light pink lighten-4 modal-trigger" href="#admin_modal" style="width: 45%;">
                                <kbd class="flow-text truncate" style="font-size: medium;">ADMIN</kbd>
                            </a>
                        </div>
                    <%- include("../templates/admin.ejs",{users:users}) %> 
                    <% }} %>
                    
                </div>
            </div>
            <div class="col s8">
                <div class="card white hoverable post-info">
                    <% if(posts.length>0 && people==null){ %> 
                    <a class="btn btn-floating btn-large pulse waves-effect waves-light pink lighten-3" href="/home/post" 
                        style="float: right; margin-top: 10px; margin-right: 10px;">
                        <i class="material-icons">add</i>
                    </a>
                    <% } %>
                    <div class="row card-content center">
                        <kbd class="flow-text truncate" style="font-size: x-large;">Bài viết của tôi</kbd>
                    </div>
                    <div class="row"> 
                    <% if(posts.length==0){ %> 
                        <div class="row card-content valign-center center" style="min-height: 323px;">
                            <kbd class="flow-text truncate" style="font-size: x-large;">Chưa có bài viếT nào.</kbd>
                            <a class="btn pulse waves-effect waves-light pink lighten-3" href="/home/post">ĐĂNG NGAY</a>
                        </div>
                    <% } else{ %>
                    <% posts.slice().reverse().forEach((post, index)=>{ %>
                        <div class="post card-content" id="<%= post._id %>" style="display: float;float: left;">
                            <div class="card postcard hoverable" style="width: 25rem;height:fit-content;margin-left: 4rem;">
                                <% if(people==null){ %> 
                                <div class="fixed-action-btn right card-content" style="position: absolute !important;top: 5px; right: 5px;">
                                    <a class="btn-floating btn-medium red">
                                      <i class="material-icons">mode_edit</i>
                                    </a>
                                    <ul>
                                      <li><a class="btn-floating pink darken-1 btn-small"><i class="material-icons">favorite</i></a></li>
                                      <li><a class="btn-floating green btn-small" href="/users/deletePost?id=<%= post._id %>"><i class="material-icons">delete</i></a></li>
                                      <li><a class="btn-floating blue btn-small modal-trigger" href="#edit_modal_<%= post._id %>"><i class="material-icons">edit</i></a></li>
                                    </ul>
                                </div>
                                <% } %> 
                                <% if(post.image!=null){ %>
                                <div class="row card-content">
                                    <div class="carousel carousel-slider" style="border: 1px solid black;border-radius: 7px;">
                                        <% JSON.parse(post.image).forEach(img=>{ %> 
                                        <a class="carousel-item" href="/blog#<%= post._id %>" style="height: fit-content;"><img src="<%= img %>" style="height: 100%;"></a>
                                        <% }) %> 
                                    </div>
                                </div>
                                <% } %>
                                <div class="row card-content" style="padding-top: 0px;padding-bottom: 0px;">
                                    <kbd><%= new Date(post.created_at).toDateString()%></kbd>
                                </div>
                                <div class="row card-content"  style="padding-top: 0px;padding-bottom: 0px;">
                                    <strong><%= post.title %></strong>
                                </div>
                                <div class="row card-content"  style="padding-top: 0px;padding-bottom: 0px;">
                                    <p class="flow-text truncate" style="font-size: medium;">
                                        <%- post.description %>
                                    </p>
                                </div>
                                <div class="row card-content"  style="padding-top: 0px;padding-bottom: 5px;">
                                    <% if(post.hashtag!=null){
                                        hashtags = JSON.parse(post.hashtag);
                                        for(tag of hashtags){ %>
                                        <div class="chip"><%- tag.tag %></div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <%- include("../templates/editpost.ejs",{post:post}) %> 
                            </div>
                        </div>
                    <% });} %> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card white hoverable myfav" id="favorite">
                    <div class="row card-content center" style="padding-bottom: 0px;">
                        <kbd class="flow-text truncate">Danh sách yêu thích</kbd>
                    </div>
                    <div class="row card-content" style="padding-top: 0px;padding-left: 0px;">
                        <div class="col s8">
                            <% if(favorite_posts.length >0){ 
                                favorite_posts.forEach(post=>{ %>
                            <div class="post card-content" id="<%= post._id %>" style="display: float;float: left;">
                                <div class="card postcard hoverable" style="width: 25rem;height:fit-content;margin-left: 4rem;"> 
                                    <div class="row card-content" style="padding-bottom: 0px;padding-top: 15px;">
                                        <div class="chip poster pink lighten-3 white-text">
                                            <img src="https://img.icons8.com/fluent/24/000000/user-male-circle.png" />
                                            <a href="info?id=<%= post.author_id %>" class="white-text">
                                                <%= post.author_name %>
                                            </a>
                                        </div>
                                    </div>
                                    <% if(post.image!=null){ %>
                                    <div class="row card-content" style="padding-top: 0px;padding-bottom: 0px;">
                                        <div class="carousel carousel-slider" style="border: 1px solid black;border-radius: 7px;">
                                            <% JSON.parse(post.image).forEach(img=>{ %> 
                                            <a class="carousel-item" href="/blog#<%= post._id %>" style="height: fit-content;"><img src="<%= img %>" style="height: 100%;"></a>
                                            <% }) %> 
                                        </div>
                                    </div>
                                    <% } %>

                                    <div class="row card-content" style="padding-top: 0px;padding-bottom: 0px;">
                                        <kbd><%= new Date(post.created_at).toDateString() %></kbd>
                                    </div>
                                    <div class="row card-content"  style="padding-top: 0px;padding-bottom: 0px;">
                                        <strong><%= post.title %></strong>
                                    </div>
                                    <div class="row card-content"  style="padding-top: 0px;padding-bottom: 0px;">
                                        <p class="flow-text" style="font-size: medium;">
                                            <%- post.description.substring(0,200) %>...
                                        </p>
                                    </div>
                                    <div class="row card-content"  style="padding-top: 0px;padding-bottom: 5px;">
                                        <% if(post.hashtag!=null){
                                            hashtags = JSON.parse(post.hashtag);
                                            for(tag of hashtags){ %>
                                            <div class="chip"><%- tag.tag %></div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% })} else{ %>
                            <% } %>
                        </div>
                        <div class="col s4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if(user.role=="ADMIN"&& people==null){ %>
        <div class="row">
            <div class="col s12">
                <div class="card hoverable white">
                    <% if(articles.length>0){ %> 
                    <a class="btn btn-floating btn-large pulse waves-effect waves-light pink lighten-3" href="/home/new_article" 
                        style="float: right; margin-top: 10px; margin-right: 10px;">
                        <i class="material-icons">add</i>
                    </a>
                    <% } %>
                    <div class="row card-content center">
                        <kbd class="flow-text truncate">Bài báo của tôi</kbd>    
        
                    </div>    
                    <div class="row"> 
                    <% if(articles.length==0){ %> 
                        <div class="row card-content valign-center center" style="min-height: 323px;">
                            <kbd class="flow-text truncate" style="font-size: x-large;">Chưa có bài báo nào.</kbd>
                            <a class="btn pulse waves-effect waves-light pink lighten-3" href="/home/new_article">SOẠN NGAY</a>
                        </div>
                    <% } else{ %>
                    <% articles.forEach((article, index)=>{ %>
                        <div class="article card-content" id="<%= article._id %>" style="display: float;float: left;">
                            <div class="card articlecard hoverable" style="width: 25rem;height:fit-content;margin-left: 4rem;">
                                <div class="fixed-action-btn right card-content" style="position: absolute !important;top: 5px; right: 5px;">
                                    <a class="btn-floating btn-medium red">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <ul>
                                        <li><a class="btn-floating pink darken-1 btn-small"><i class="material-icons">favorite</i></a></li>
                                        <li><a class="btn-floating green btn-small" href="/users/deleteArticle?id=<%= article._id %>"><i class="material-icons">delete</i></a></li>
                                        <li><a class="btn-floating blue btn-small" href="/home/update_article?id=<%= article._id %>"><i class="material-icons">edit</i></a></li>
                                    </ul>
                                </div>
                                <% if(article.images!=null){ 
                                    thumb = JSON.parse(article.images)[0] %>
                                <div class="row card-content">
                                    <a href="/article?_id=<%= article._id %>">
                                        <img src="<%= thumb %>" style="width: 100%;height: auto; border-radius: 7px;">
                                    </a>
                                </div>
                                <% } %>
                                <div class="row card-content" style="padding-top: 0px;padding-bottom: 0px;">
                                    <kbd><%= new Date(article.created_at).toDateString()%></kbd>
                                </div>
                                <div class="row card-content"  style="padding-top: 0px;padding-bottom: 0px;">
                                    <strong><%= article.title %></strong>
                                </div>
                                <div class="row card-content"  style="padding-top: 0px;padding-bottom: 0px;">
                                    <p class="flow-text truncate" style="font-size: medium;">
                                        <%= article.sub_title %>
                                    </p>
                                </div>
                                <div class="row card-content"  style="padding-top: 0px;padding-bottom: 5px;">
                                    <% if(article.hashtag!=null){
                                        hashtags = JSON.parse(article.hashtag);
                                        for(tag of hashtags){ %>
                                        <div class="chip"><%- tag.tag %></div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <%- include("../templates/editarticle.ejs",{article:article}) %> 
                            </div>
                        </div>
                    <% });} %> 
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </main>
    <footer class="page-footer" style="padding-top: 0px;">
        <%- include("../templates/footer.ejs",{user:user}) %> 
    </footer>

    <script src="/script/user_info.js"></script>
    <%- include("../templates/dependency.ejs") %> 
</body>
